.c-digitalA11Y {
  .digitalA11Y-img {
    background-image: url('../../assets/img/a11y-home-i-image.svg');
    width: 100%;
    height: 42.7vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  @include respond-below(sm) {
    .digitalA11Y-img {
      width: 100%;
      height: 47vw;
    }
  }
}

//media queries
