.c-home {
  &__background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    place-content: center;
  }

  margin-top: rem-calc(48);
  height: 100%;

  .a11y-today {
    display: inline-block;
    background-image: url('../../assets/img/icons/accessibility-future.svg');
    width: 60%;
    height: 20vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .tutorials {
    display: inline-block;
    background-image: url('../../assets/img/icons/tutorials.svg');
    width: 60%;
    height: 20vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .courses {
    display: inline-block;
    background-image: url('../../assets/img/icons/courses.svg');
    width: 60%;
    height: 20vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

// Example background classes that can be used
.bg-pattern-1 {
  background-image: url('../../assets/img/icons/accessibility-future.svg');
  width: 100%;
  height: 42.7vw;
}
// @include respond-below(mdl) {
//   .bg-pattern-1 {
//     background-image: url('../../assets/img/a11y-home-j-image.svg');
//     width: 100%;
//     height: 47vw;
//     margin-top: rem-calc(60);
//   }
// }
