<section class="about-me">
  <article
    class="offcanvas offcanvas-bottom"
    id="offcanvasBottom"
    (shown.bs.offcanvas)="onOffcanvasShown()">
    <div
      class="offcanvas-header p-0 border-bottom border-success bg-success-subtle">
      <div
        class="container d-flex col py-3 px-4 border-1 justify-content-between">
        <div>
          <h1 
            #aboutMeTitle
            class="offcanvas-title fw-bolder fs-6" 
            id="offcanvasBottomLabel"
            tabindex="-1">
            {{ 'about-me.about' | translate }}
          </h1>
        </div>

        <div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
   
    <div class="offcanvas-body">
      <div class="container">
        <div class="row" data-masonry='{"percentPosition": true }'>
          <div class="col col-12 col-lg-4 mb-4 mb-md-0">
            <div
              class="card justify-content-center align-items-center border-black border-2 p-3 m mb-4 mb-lg-0 shadow">
              <img
                src="../../../assets/img/pics/gabriel-garcia-diaz.jpg"
                alt=""
                width="160"
                class="d-inline-block rounded-circle p-1 border-black shadow" />
              <h2 class="card-title fw-bold mt-3 mb-0">
                {{ 'about-me.gagd' | translate }}
              </h2>

              <div class="card-body text-center">
                <span
                  class="d-block mb-2 px-3 rounded-pill bg-primary p-1 mb-2 text-dark bg-opacity-25 border-primary-subtle border border-2">
                  {{ 'about-me.specialist' | translate }}</span
                >
                <span
                  class="d-block mb-2 px-3 rounded-pill bg-warning p-1 mb-2 text-dark bg-opacity-25 border-warning-subtle border border-2">
                  {{ 'about-me.productD' | translate }}
                </span>
                <span
                  class="d-block px-3 rounded-pill bg-success p-1 mb-2 text-dark bg-opacity-25 border-success-subtle border border-2">
                  {{ 'about-me.front' | translate }}
                </span>
              </div>
            </div>
          </div>

          <!--intro starts-->
          <div class="col col-12 col-lg-8">
            <div class="list-group shadow">
              <a
                class="list-group-item list-group-item-action border-black border-2"
                aria-current="true">
                <h3 class="fw-bold mt-3">
                  {{ 'about-me.believe' | translate }}
                  <img
                    class="love mb-1 mx-1"
                    src="../../../../assets/img/icons/heart.svg"
                    alt="" />
                </h3>
                <p class="lead fs-6 fw-medium">
                  {{ 'about-me.intro' | translate }}
                </p>
              </a>
              <a
                class="list-group-item list-group-item-action border-black border-2 border border-top-0 p-0"
                ><p
                  class="m-0 m-0 px-3 py-2 justify-content-center align-items-center">
                  <span
                    class="text-secondary-emphasis cg cg-1 fw-bold px-2 rounded-4 small me-2">
                    {{ 'about-me.tech' | translate }}</span
                  >
                  <span class="fw-regular">
                    {{ 'about-me.tech-skills' | translate }}
                  </span>
                </p>
              </a>
              <a
                class="list-group-item list-group-item-action p-0 border-black border-2 border border-top-0"
                ><p
                  class="m-0 m-0 px-3 py-2 justify-content-center align-items-center">
                  <span
                    class="text-secondary-emphasis cg-2 fw-bold px-2 rounded-4 small me-2 border-danger-subtle border-1 border">
                    {{ 'about-me.design' | translate }}</span
                  >
                  <span class="fw-regular">
                    {{ 'about-me.design-skills' | translate }}
                  </span>
                </p></a
              >
            </div>

            <div
              class="container-fluid mt-4 rounded-3 border-black border-2 p-0">
              <div class="mb-3">
                <div class="row m-0 border-0 d-flex align-items-center">
                  <div class="col-12 col-lg-5">
                    <p
                      class="m-0 fw-bold fs-2 fs-md-4 u-ff-crison me-3 mb-2 mb-sm-0">
                      {{ 'about-me.connect' | translate }}
                    </p>
                  </div>

                  <div class="col-12 col-lg-7 p-0">
                    <!--linkedin-->
                    <div
                      class="btn-group me-2"
                      role="group"
                      [attr.aria-labelledby]="'about-me.linkedin' | translate">
                      <a
                        type="button"
                        class="text-decoration-none btn btn-primary linkedin fw-bold"
                        href="https://www.linkedin.com/in/gabrielgarciadiaz/"
                        target="_blank"
                        rel="noopener noreferrer">
                        {{ 'about-me.linkedin' | translate }}
                      </a>

                      <button type="button" class="btn btn-primary linkedin">
                        <img
                          src="../../../assets/img/icons/linkedin.svg"
                          [alt]="'about-me.linkedIn' | translate"
                          class="social-net mb-1" />
                      </button>
                    </div>

                    <!--gmail-->
                    <div
                      class="btn-group me-2"
                      role="group"
                      [attr.aria-labelledby]="'about-me.gMail' | translate">
                      <button
                        type="button"
                        class="btn btn-primary gmail fw-bold">
                        {{ 'about-me.gmail' | translate }}
                      </button>

                      <button type="button" class="btn btn-primary gmail">
                        <img
                          src="../../../assets/img/icons/gmail.svg"
                          [alt]="'about-me.gMail' | translate"
                          class="social-net gmail" />
                      </button>
                    </div>
                    <!--gmail-->
                  </div>
                </div>
              </div>

              <!--download button-->
              <div class="d-grid gap-2">
                <a
                  href="../../../assets/downloads/GAGD-CV-A11Y-EN-ES.pdf"
                  class="btn btn-primary shadow my-cv fw-bold text-start"
                  download>
                  {{ 'about-me.download' | translate }}
                  <span class="badge ms-3 text-bg-warning">
                    <img
                      src="../../../assets/img/icons/download.svg"
                      [alt]="'about-me.gMail' | translate"
                      class="social-net" />
                  </span>
                </a>
              </div>
              <!--download button-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

