<nav aria-label="Navigation Menu" class="shadow">
  <a
    [routerLink]="!isDisabled ? routerLink : null"
    [ngClass]="{ disable: isDisabled }"
    [attr.aria-disabled]="isDisabled"
    class="card text-center rounded-3 border-2 border-black d-block text-decoration-none p-lg-2 p-xl-3 p-xxl-4">
    <div class="card-body mt-0" role="group" aria-label="Content home">
      <h2 class="card-title fs-2 fw-bold">{{ title }}</h2>
      <span class="svg" [ngClass]="iconClass" aria-hidden="true"></span>
      <p class="card-text">{{ text }}</p>
      <span class="btn btn-primary d-inline-block" aria-hidden="true">
        {{ link }}
      </span>
    </div>
  </a>
</nav>
