<nav aria-label="Navigation Menu">
  <a
    href="{{ routerLink }}"
    class="card text-center rounded-0 border-top border-black d-block text-decoration-none">
    <div class="card-body" role="group" aria-label="Content home">
      <h2 class="card-title fs-1 fw-bolder">{{ title }}</h2>
      <span class="svg" [ngClass]="iconClass" aria-hidden="true"></span>
      <p class="card-text">{{ text }}</p>
      <span class="btn btn-primary d-inline-block" aria-hidden="true">
        {{ link }}
      </span>
    </div>
  </a>
</nav>
