<nav aria-label="Navigation Menu">
  <a
    [attr.href]="!isDisabled ? routerLink : null"
    [ngClass]="{ disable: isDisabled }"
    [attr.aria-disabled]="isDisabled"
    class="card text-center rounded-0 border-2 border-start-0 border-black d-block text-decoration-none">
    <div class="card-body mt-0" role="group" aria-label="Content home">
      <h2 class="card-title fs-1 fw-bolder">{{ title }}</h2>
      <span class="svg" [ngClass]="iconClass" aria-hidden="true"></span>
      <p class="card-text">{{ text }}</p>
      <span class="btn btn-primary d-inline-block" aria-hidden="true">
        {{ link }}
      </span>
    </div>
  </a>
</nav>
