<div class="c-home container-fluid p-0">
  <div class="row m-0">
    <div class="py-4 py-xxl-5 text-center">
      <h2 class="display-2 fw-bold">
        <span [tabIndex]="0">{{ 'home.intro-title' | translate }}</span>
      </h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead" [tabIndex]="0">
          {{ 'home.intro' | translate }}
        </p>
      </div>
    </div>

    <app-card
      class="col-4 p-0"
      title="{{ 'home.card1.title' | translate }}"
      text="{{ 'home.card1.text' | translate }}"
      link="{{ 'home.card1.link' | translate }}"
      iconClass="svg-a11y-today"
      routerLink="/a11y-today"></app-card>

    <app-card
      class="col-4 p-0"
      title="{{ 'home.card2.title' | translate }}"
      text="{{ 'home.card2.text' | translate }}"
      link="{{ 'home.card2.link' | translate }}"
      iconClass="svg-tutorials"
      routerLink="/tutorials"></app-card>

    <app-card
      class="col-4 p-0"
      title="{{ 'home.card3.title' | translate }}"
      text="{{ 'home.card3.text' | translate }}"
      link="{{ 'home.card3.link' | translate }}"
      iconClass="svg-courses"
      routerLink="/courses"></app-card>
  </div>
</div>
