<div class="c-home container-fluid p-0">
  <div class="row m-0">
    <div class="py-5 text-center">
      <h2 class="display-2 fw-bold">
        <span [tabIndex]="0">{{ 'home.intro-title' | translate }}</span>
      </h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead" [tabIndex]="0">
          {{ 'home.intro' | translate }}
        </p>
      </div>
    </div>

    <div class="card col-4 text-center rounded-0">
      <div class="card-body">
        <h2 class="card-title fs-1 fw-bolder">
          <span [tabIndex]="0">{{ 'home.card.title' | translate }}</span>
        </h2>
        <span class="svg svg-a11y-today"></span>
        <p class="card-text">
          <span [tabIndex]="0">{{ 'home.card.text' | translate }}</span>
        </p>
        <a href="#" class="btn btn-primary">{{
          'home.card.link' | translate
        }}</a>
      </div>
    </div>

    <div class="card col-4 text-center rounded-0">
      <div class="card-body">
        <h2 class="card-title fs-1 fw-bolder">Tutoriales</h2>
        <span class="svg svg-tutorials"></span>
        <p class="card-text">
          Abrir nuestras mentes a la importancia de la accesibilidad
        </p>
        <a href="#" class="btn btn-primary"
          >Herramientas para hacer mi web accesible</a
        >
      </div>
    </div>

    <div class="card col-4 text-center rounded-0">
      <div class="card-body">
        <h2 class="card-title fs-1 fw-bolder">Cursos</h2>
        <span class="svg svg-courses"></span>
        <p class="card-text">
          Accesibilidad en todo el ciclo de vida del producto
        </p>
        <a href="#" class="btn btn-primary"
          >aprende diseño y desarrollo accesible</a
        >
      </div>
    </div>
  </div>
</div>
