<div class="c-home container-fluid p-0">
  <div class="row m-0">
    <div class="text-center border-bottom">
      <h1 class="display-4 fw-bold">Centered screenshot</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead">
          Quickly design and customize responsive mobile-first sites with
          Bootstrap, the world’s most popular front-end open source toolkit,
          featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.
        </p>
      </div>
    </div>

    <div class="card col-4 text-center rounded-0">
      <div class="card-body">
        <h2 class="card-title fs-1 fw-bolder">Accessibility Today</h2>
        <span class="a11y-today"></span>
        <p class="card-text">Que nos trae el futuro de la accesibilidad</p>
        <a href="#" class="btn btn-primary">Saber mas sobre accesiblidad</a>
      </div>
    </div>

    <div class="card col-4 text-center rounded-0">
      <div class="card-body">
        <h2 class="card-title fs-1 fw-bolder">Tutoriales</h2>
        <span class="tutorials"></span>
        <p class="card-text">
          Abrir nuestras mentes a la importancia de la accesibilidad
        </p>
        <a href="#" class="btn btn-primary"
          >Herramientas para hacer mi web accesible</a
        >
      </div>
    </div>

    <div class="card col-4 text-center rounded-0">
      <div class="card-body">
        <h2 class="card-title fs-1 fw-bolder">Cursos</h2>
        <span class="courses"></span>
        <p class="card-text">
          Accesibilidad en todo el ciclo de vida del producto
        </p>
        <a href="#" class="btn btn-primary"
          >aprende diseño y desarrollo accesible</a
        >
      </div>
    </div>
  </div>
</div>
