<section class="content-display" [attr.aria-labelledby]="'content-title-' + title">
  <article class="container-fluid p-0" role="presentation">
    <div
      *ngIf="
        isSmallScreen;
        then smallScreenTemplate;
        else largeScreenTemplate
      "></div>

    <ng-template #contentTemplate>
      <h1 
        [id]="'content-title-' + title"
        class="visually-hidden">
        {{ title }}
      </h1>
      <p
        [class.px-4]="!isSmallScreen"
        [class.px-3]="isSmallScreen"
        >
        <span
          class="u-fs fw-bold text-primary text-decoration-underline pe-2"
          >{{ title }}</span
        >
        <span class="u-fs fw-bold">{{ info }}</span>
        <span class="u-fs fw-bold bg-danger text-white px-2">{{ extra }}</span>
      </p>
      <p
        [class.px-4]="!isSmallScreen"
        [class.px-3]="isSmallScreen"
    >
        <span class="u-fs">{{ more }}</span>
      </p>
      <div [class.px-4]="!isSmallScreen" [class.px-3]="isSmallScreen">
        <ng-container *ngIf="isArray(data); else singleData">
          <h2 class="fs-6 mb-2">{{ dataTitle }}</h2>
          <ul class="list-unstyled d-flex flex-wrap">
            <li *ngFor="let principle of dataAsArray" class="mb-2 me-2">
              <span class="badge btn-sm btn-outline-primary">{{ principle }}</span>
            </li>
          </ul>
        </ng-container>
        <ng-template #singleData>
          <p class="fs-6">{{ data }}</p>
        </ng-template>
      </div>
    </ng-template>

    <ng-template #largeScreenTemplate>
      <div 
        class="content-display__background" 
        [ngClass]="backgroundClass"
        role="img"
        [attr.aria-label]="'Decorative background for ' + title">
        <div class="col-12 col-xl-5 col-xxl-4 ps-2 pe-3 py-3">
          <app-menu-content></app-menu-content>
          <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
      </div>
    </ng-template>

    <ng-template #smallScreenTemplate>
      <div
        class="content-display__background"
        [ngClass]="backgroundClass"
        role="img"
        [attr.aria-label]="'Decorative background for ' + title"></div>
      <div class="col-12">
        <app-menu-content></app-menu-content>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
    </ng-template>
  </article>
</section>
