<section class="content-display" [attr.aria-label]="ariaLabel">
  <article class="container-fluid p-0">
    <div
      *ngIf="
        isSmallScreen;
        then smallScreenTemplate;
        else largeScreenTemplate
      "></div>

    <ng-template #largeScreenTemplate>
      <div class="content-display__background" [ngClass]="backgroundClass">
        <div class="col-12 col-xl-5 col-xxl-4 ps-2 pe-3 py-3 mt-5">
          <!--Defition content START -->
          <p class="mt-5 px-5">
            <span
              class="u-fs fw-bold text-primary text-decoration-underline px-2">
              {{ title }}
            </span>
            <span class="u-fs fw-bold">
              {{ info }}
            </span>
            <span class="u-fs fw-bold bg-danger text-white px-2">
              {{ extra }}
            </span>
          </p>
          <p class="px-5">
            <span class="u-fs">
              {{ more }}
            </span>
          </p>
          <!--Defition content ENDS -->

          <!--Content buttons STARS-->
          <nav aria-label="Section navigation" role="tablist">
            <ul class="nav nav-pills px-5" role="presentation">
              <!-- Static link first -->
              <li class="nav-item me-2 mb-2" *ngIf="staticLink">
                <a class="nav-link active px-2" aria-current="page" href="#">
                  {{ staticLink }}
                </a>
              </li>
              <li class="nav-item me-2 mb-2" *ngFor="let link of links">
                <a
                  class="nav-link px-2 custom-nav-link"
                  [routerLink]="[link.route]"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [attr.aria-current]="isActive(link.route) ? 'page' : null"
                  [attr.aria-selected]="isActive(link.route)"
                  role="tab"
                  [attr.tabindex]="isActive(link.route) ? 0 : -1">
                  {{ link.text }}
                </a>
              </li>
            </ul>
          </nav>
          <!--Content buttons ENDS-->
        </div>
      </div>
    </ng-template>

    <ng-template #smallScreenTemplate>
      <div
        class="content-display__background"
        [ngClass]="backgroundClass"></div>
      <div class="col-12">
        <!--Content buttons STARS-->
        <nav aria-label="Section navigation" role="tablist">
          <ul class="nav nav-pills px-3 py-2 my-4" role="presentation">
            <div class="slider-container">
              <button
                class="slider-btn prev ms-2"
                (click)="slideLeft()"
                (keydown.enter)="slideLeft()"
                (keydown.space)="slideLeft()"
                tabindex="0"
                aria-label="Previous items"></button>
              <div class="slider-wrapper py-2">
                <div class="nav-items-container" #sliderContent>
                  <!-- Static link first -->
                  <li class="nav-item me-2" *ngIf="staticLink">
                    <a
                      class="nav-link active px-2 py-1 custom-nav-link"
                      aria-current="page"
                      href="#">
                      {{ staticLink }}
                    </a>
                  </li>
                  <li class="nav-item me-2" *ngFor="let link of links">
                    <a
                      class="nav-link px-2 py-1 custom-nav-link"
                      [routerLink]="[link.route]"
                      [routerLinkActive]="'active'"
                      [routerLinkActiveOptions]="{ exact: true }"
                      [attr.aria-current]="isActive(link.route) ? 'page' : null"
                      [attr.aria-selected]="isActive(link.route)"
                      role="tab"
                      [attr.tabindex]="isActive(link.route) ? 0 : -1">
                      {{ link.text }}
                    </a>
                  </li>
                </div>
              </div>
              <button
                class="slider-btn next me-2"
                (click)="slideRight()"
                (keydown.enter)="slideRight()"
                (keydown.space)="slideRight()"
                tabindex="0"
                aria-label="Next items"></button>
            </div>
          </ul>
        </nav>
        <!--Content buttons ENDS-->
        <!--Content info Starts-->
        <p class="px-3">
          <span
            class="u-fs fw-bold text-primary text-decoration-underline px-2">
            {{ title }}
          </span>
          <span class="u-fs fw-bold">
            {{ info }}
          </span>
          <span class="u-fs fw-bold bg-danger text-white px-2">
            {{ extra }}
          </span>
        </p>
        <p class="px-3">
          <span class="u-fs">
            {{ more }}
          </span>
        </p>
        <!--Content info ENDS-->
      </div>
    </ng-template>
  </article>
</section>
