<section class="content-display" [attr.aria-label]="ariaLabel">
  <article class="container-fluid p-0">
    <div
      *ngIf="
        isSmallScreen;
        then smallScreenTemplate;
        else largeScreenTemplate
      "></div>

    <ng-template #contentTemplate>
      <p
        [class.px-5]="!isSmallScreen"
        [class.px-3]="isSmallScreen"
        >
        <span
          class="u-fs fw-bold text-primary text-decoration-underline pe-2"
          >{{ title }}</span
        >
        <span class="u-fs fw-bold">{{ info }}</span>
        <span class="u-fs fw-bold bg-danger text-white px-2">{{ extra }}</span>
      </p>
      <p
        [class.px-5]="!isSmallScreen"
        [class.px-3]="isSmallScreen"
    >
        <span class="u-fs">{{ more }}</span>
      </p>
      <p [class.px-5]="!isSmallScreen" [class.px-3]="isSmallScreen">
        <ng-container *ngIf="isArray(data); else singleData">
          <span class="fs-6 d-block mb-2">{{ dataTitle }}</span>
          <ul class="nav nav-pills">
            <li *ngFor="let principle of dataAsArray" class="mb-1 nav-item">
              <a class="btn btn-sm btn-outline-primary me-2">{{ principle }}</a>
            </li>
          </ul>
        </ng-container>
        <ng-template #singleData>
          <span class="fs-6">{{ data }}</span>
        </ng-template>
      </p>
    </ng-template>

    <ng-template #largeScreenTemplate>
      <div class="content-display__background" [ngClass]="backgroundClass">
        <div class="col-12 col-xl-5 col-xxl-4 ps-2 pe-3 py-3">
          <app-menu-content></app-menu-content>
          <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
      </div>
    </ng-template>

    <ng-template #smallScreenTemplate>
      <div
        class="content-display__background"
        [ngClass]="backgroundClass"></div>
      <div class="col-12">
        <app-menu-content></app-menu-content>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
    </ng-template>
  </article>
</section>
