<main class="mt-5" *ngIf="blogPosts$ | async as blogPosts">
  <div class="cb1" *ngFor="let blogPosts of blogPosts.items">
    <img
      [src]="blogPosts.fields.featureImage.fields.file.url"
      alt=""
      width="300px"
      height="100%" />
    <h2>{{ blogPosts.fields.title }}</h2>
    <p>{{ blogPosts.fields.author }}</p>
    <p>{{ blogPosts.fields.summary }}</p>
    <a [routerLink]="['/blog', blogPosts.sys.id]">Read more</a>
  </div>

  <!-- <pre>{{ blogPosts$ | async | json }}</pre> -->
</main>
