<div class="c-accessibility-today mt-5">
  <div class="container py-4 px-3 px-xxl-5 py-xl-5">
    <div class="row">
      <div class="col-lg-8 col-xl-9 text-center text-lg-start">
        <div
          class="d-md-flex justify-content-between align-items-center mb-4 mb-lg-0">
          <h2 class="display-4 display-lg-1 fw-bolder mt-3 mt-lg-0">
            <span [tabIndex]="0">{{
              'accessibility-today.title' | translate
            }}</span>
          </h2>
          <span
            class="svg svg-a11y-today svg-mobile me-4 me-lg-0"
            aria-hidden="true"></span>
        </div>
        <p class="intro lead fw-medium" [tabIndex]="0">
          {{ 'accessibility-today.intro' | translate }}
        </p>
      </div>
      <div
        class="col col-lg-4 col-xl-3 align-content-center d-flex justify-content-center">
        <span
          class="svg svg-a11y-today svg-desktop me-4 me-lg-0"
          aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <ng-container *ngIf="blogPosts$ | async as blogPosts">
    <!-- /////////////////////////////////////////////-->
    <!-- /////////////////////////////////////////////-->
    <!-- ////////////////First Post //////////////////-->
    <!-- ////////////////////////////////////////////-->
    <!-- ////////////////////////////////////////////-->
    <div class="container" *ngIf="blogPosts?.items[0]?.fields?.featurePost">
      <section
        class="card shadow border-2 border-black ps-5 pe-4 py-5 py-lg-0 ps-lg-5 pe-lg-0 rounded-3 mb-3">
        <article
          class="row g-0 d-flex flex-column flex-sm-row flex-column-reverse">
          <div class="post0 col-md-9 align-content-center mt-4 mt-lg-0">
            <div class="card-body ps-0">
              <h3 class="display-6 fw-bold u-ff-crison" [tabIndex]="0">
                {{ blogPosts.items[0].fields.title }}
              </h3>
              <p [tabIndex]="0">
                <span class="badge text-bg-dark me-2">
                  {{ 'accessibility-today.authorName' | translate }}
                </span>

                <span class="badge text-bg-light">
                  {{ blogPosts.items[0].fields.author }}
                </span>
              </p>

              <p class="card-text" [tabIndex]="0">
                {{ blogPosts.items[0].fields.summary }}
              </p>
              <a
                [routerLink]="['/blog', blogPosts.items[0].sys.id]"
                class="btn btn-primary my-2 rounded-5 shadow"
                type="button">
                {{ 'accessibility-today.read-more' | translate }}
                {{ blogPosts.items[0].fields.title }}
              </a>
              <p class="text-muted mt-3" [tabIndex]="0">
                <span class="badge text-bg-light">
                  {{ formatDate(blogPosts.items[0].sys.createdAt) }}
                </span>
              </p>
            </div>
          </div>
          <div class="col-md-3 pe-4 pe-lg-0 pt-lg-0 rounded-end">
            <img
              [src]="blogPosts.items[0].fields.featureImage.fields.file.url"
              [alt]="blogPosts.items[0].fields.imageAlt || ''" />
          </div>
        </article>
      </section>
    </div>

    <!-- /////////////////////////////////////////////-->
    <!-- /////////////////////////////////////////////-->
    <!-- /////////////Remaining Post //////////////////-->
    <!-- ////////////////////////////////////////////-->
    <!-- ////////////////////////////////////////////-->
    <div class="container">
      <div class="row gy-4 my-5">
        <section
          class="col-12 col-lg-6 col-xl-6"
          *ngFor="let post of blogPosts.items.slice(1)">
          <article
            class="h-100 shadow p-0 border border-2 border-black bg-white rounded-3">
            <img
              class="img-fluid n-img"
              [src]="post.fields.featureImage.fields.file.url"
              [alt]="post.fields.imageAlt || ''" />

            <div class="card-body p-3 mt-4">
              <h3 class="fw-bold u-ff-crison mb-3" [tabIndex]="0">
                {{ post.fields.title }}
              </h3>
              <p [tabIndex]="0">
                <span class="badge text-bg-dark me-2">
                  {{ 'accessibility-today.authorName' | translate }}
                </span>
                <span class="badge text-bg-light">
                  {{ post.fields.author }}
                </span>
              </p>

              <p class="card-text" [tabIndex]="0">
                {{ post.fields.summary }}
              </p>
              <a
                [routerLink]="['/blog', post.sys.id]"
                class="btn btn-primary my-2 rounded-5 shadow"
                type="button">
                {{ 'accessibility-today.read-more' | translate }}
                {{ post.fields.title }}
              </a>
              <p class="text-muted mt-3">
                <span class="badge text-bg-light" [tabIndex]="0">
                  {{ formatDate(post.sys.createdAt) }}
                </span>
              </p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </ng-container>
</div>
