<footer
  class="container-fluid bg-dark text-light text-center footer p-0 bg-primary position-fixed bottom-0">
  <div class="d-flex justify-content-between">
    <div class="col-4 d-flex">
      <button
        class="btn-link profile fw-bold d-flex link-offset-2 link-underline-opacity-10 link-underline-opacity-100-hover p-1 align-items-center"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom"
     >
        {{ 'footer.about-me' | translate }}
        <img
          src="../../../assets/img/icons/smiley-icon.svg"
          [alt]="'about-me.img' | translate"
          class="" />
      </button>
    </div>
    <div class="col-12 bg-secondary pe-5">
      <p class="rigths align-content-center text-white">
        &copy; {{ 'footer.text' | translate }}
      </p>
    </div>
  </div>
</footer>
