<div class="c-home">
  <div class="container-fluid p-0">
    <div
      *ngIf="
        isSmallScreen;
        then smallScreenTemplate;
        else largeScreenTemplate
      "></div>
    <ng-template #largeScreenTemplate>
      <div class="home-img">
        <div class="cb1 col-12 col-lg-4 px-5 py-3">
          <p>
            {{ 'home.accessibility' | translate }}
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template #smallScreenTemplate>
      <div class="col home-img"></div>
      <div class="col"></div>

      <div class="small-screen-styles">
        <div class="cb1 col-12 px-5 py-3">
          <p>
            {{ 'home.accessibility' | translate }}
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
