<div class="c-home">
  <div class="container-fluid p-0">
    <!--SMALL BIG TEMPLATE STARTS CONDITION-->
    <div
      *ngIf="
        isSmallScreen;
        then smallScreenTemplate;
        else largeScreenTemplate
      "></div>
    <!--SMALL BIG TEMPLATE CONDITION ENDS-->

    <!--BIG SCREEN TEMPLATE STARTS-->
    <ng-template #largeScreenTemplate>
      <div class="home-img" data-aos="zoom-in">
        <div class="col-12 col-xl-5 col-xxl-4 ps-2 pe-3 py-3 mt-5">
          <p class="mt-5 px-5">
            <span
              class="u-fs fw-bold text-primary text-decoration-underline px-2">
              {{ 'home.accessibilityTitle' | translate }}
            </span>
            <span class="u-fs fw-bold">
              {{ 'home.accessibilityInfo' | translate }}
            </span>
            <span class="u-fs fw-bold bg-danger text-white px-2">
              {{ 'home.accessibilityExtra' | translate }}
            </span>
          </p>

          <p class="px-5">
            <span class="u-fs">
              {{ 'home.accessibilityExtraB' | translate }}
            </span>
          </p>

          <!--HOME IMAGE LINKS STARS-->
          <span class="p-0 px-lg-5">
            <a
              [routerLink]="['home']"
              [class]="
                'btn me-2 btn-sm ' +
                (isActive('home') ? 'btn-primary' : 'btn-secondary')
              "
              role="button">
              {{ 'home.a11y-accessibility' | translate }}
            </a>
            <a
              [routerLink]="['/digital']"
              [class]="
                'btn me-2 btn-sm ' +
                (isActive('digital') ? 'btn-primary' : 'btn-secondary')
              "
              role="button">
              {{ 'home.a11y-universal' | translate }}
            </a>
            <a
              [routerLink]="['/path3']"
              [class]="
                'btn me-2 btn-sm ' +
                (isActive('path3') ? 'btn-primary' : 'btn-secondary')
              "
              role="button">
              {{ 'home.a11y-healcare' | translate }}
            </a>
          </span>

          <br />
          <br />
          <span class="p-0 px-lg-5">
            <a
              [routerLink]="['/path4']"
              [class]="
                'btn me-2 btn-sm ' +
                (isActive('path4') ? 'btn-primary' : 'btn-secondary')
              "
              role="button">
              {{ 'home.a11y-rights' | translate }}
            </a>
            <a
              [routerLink]="['/path5']"
              [class]="
                'btn me-2 btn-sm ' +
                (isActive('path5') ? 'btn-primary' : 'btn-secondary')
              "
              role="button">
              {{ 'home.a11y-inclusivity' | translate }}
            </a>
            <a
              [routerLink]="['/path6']"
              [class]="
                'btn me-2 btn-sm ' +
                (isActive('path6') ? 'btn-primary' : 'btn-secondary')
              "
              role="button">
              {{ 'home.a11y-phisical' | translate }}
            </a>
          </span>
          <!--HOME IMAGE LINKS ENDS-->
        </div>
      </div>
    </ng-template>
    <!-- BIG SCREEN TEMPLATE ENDS-->

    <!--SMALL SCREEN TEMPLATE STARTS-->
    <ng-template #smallScreenTemplate>
      <div class="col home-img"></div>
      <div class="small-screen-styles">
        <div class="col-12 p-2 px-lg-5 py-lg-3">
          <div class="col-12 px-2 pe-2">
            <br />
            <div class="my-3">
              <span class="p-0 px-lg-5">
                <a
                  [routerLink]="['home']"
                  [class]="
                    'btn me-2 btn-sm ' +
                    (isActive('home') ? 'btn-primary' : 'btn-secondary')
                  "
                  role="button">
                  {{ 'home.a11y-accessibility' | translate }}
                </a>
                <a
                  class="btn btn-secondary me-2 btn-sm mb-2"
                  href="#"
                  role="button"
                  >{{ 'home.a11y-universal' | translate }}</a
                >
                <a
                  class="btn btn-secondary me-2 btn-sm mb-2"
                  href="#"
                  role="button"
                  >{{ 'home.a11y-healcare' | translate }}</a
                >
                <a
                  class="btn btn-secondary me-2 btn-sm mb-2"
                  href="#"
                  role="button"
                  >{{ 'home.a11y-rights' | translate }}</a
                >
                <a
                  class="btn btn-secondary me-2 btn-sm mb-2"
                  href="#"
                  role="button"
                  >{{ 'home.a11y-inclusivity' | translate }}</a
                >
                <a
                  class="btn btn-secondary me-2 btn-sm mb-2"
                  href="#"
                  role="button"
                  >{{ 'home.a11y-phisical' | translate }}</a
                ></span
              >
            </div>

            <p class="">
              <span
                class="u-fs fw-bold text-primary text-decoration-underline pe-1">
                {{ 'home.accessibilityTitle' | translate }}
              </span>
              <span class="u-fs fw-bold">
                {{ 'home.accessibilityInfo' | translate }}
              </span>
              <span class="u-fs fw-bold bg-danger text-white px-2">
                {{ 'home.accessibilityExtra' | translate }}
              </span>
            </p>
            <p class="">
              <span class="u-fs">
                {{ 'home.accessibilityExtraB' | translate }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <!--SMALL SCREEN TEMPLATE ENDS-->
  </div>
</div>
