// /* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Crison';
}
h1:focus-visible,
h2:focus-visible,
h3:focus-visible,
h4:focus-visible,
h5:focus-visible,
h6:focus-visible,
.h1:focus-visible,
.h2:focus-visible,
.h3:focus-visible,
.h4:focus-visible,
.h5:focus-visible,
.h6:focus-visible {
  outline: #7fb7ff dotted rem-calc(3) !important;
  outline-offset: rem-calc(2) !important;
}

// h1 {
//   font-size: rem-calc(24);
// }

// h2 {
//   font-size: rem-calc(22);
// }

// h3 {
//   font-size: rem-calc(18);
// }

// h4 {
//   font-size: rem-calc(16);
// }

// h5 {
//   font-size: rem-calc(12);
// }

// h6 {
//   font-size: rem-calc(10);
// }

// //MEDIA
// @include respond-below(sm) {
//   h1 {
//     font-size: rem-calc(20);
//   }

//   h2 {
//     font-size: rem-calc(18);
//   }

//   h3 {
//     font-size: rem-calc(14);
//   }

//   h4 {
//     font-size: rem-calc(12);
//   }

//   h5 {
//     font-size: rem-calc(8);
//   }

//   h6 {
//     font-size: rem-calc(4);
//   }
// }

// //////////////////////////////////
// ////////////scrollbar//////////////
// ////////////////////////////////
