<header
  class="c-header shadow container-fluid position-fixed top-0 u__position m-0 p-0">
  <div class="container-fluid p-0 cb2">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <!--LOGO STARTS-->
        <span class="me-4">
          <a routerLink="home">
            <img
              src="../../../assets/img/core/a11y-first-logo.svg"
              alt="{{ 'header.logo' | translate }}"
              width="92"
              height="40"
              class="d-inline-block align-text-top pe-0" />
          </a>
        </span>
        <!--LOGO ENDS-->

        <!--boton modulo accesibilidad mobile-->
        <button
          class="btn btn-link accessibility-btn d-lg-none order-2 order-lg-2 me-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
          aria-label="Opens accesibility options">
          <span class="sr-only">{{
            'home.accessibilityOptions' | translate
          }}</span>
          <div class="universal-access"></div>
        </button>

        <!--APP LANGUAGUES SELECTION STARTS-->
        <div class="dropdown dropstart language-selector order-3 order-lg-3 d-lg-none">
          <button
            class="btn border border-secondary dropdown-toggle btn-sm me-4 mb-lg-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [attr.aria-label]="'languages.languageSelection' | translate">
            <!-- {{ 'languages.languageSelection' | translate }} -->
            <span *ngIf="'en' === translate.currentLang; else es">
              <span class="fi fi-gb px-3"></span>
            </span>
            <ng-template #es><span class="fi fi-es px-3"></span></ng-template>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item d-flex justify-content-between"
                href="?lang=es"
                (click)="$event.preventDefault(); changeLanguage('es')"
                >Español <span class="fi fi-es px-3"></span
              ></a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex justify-content-between"
                href="?lang=en"
                (click)="$event.preventDefault(); changeLanguage('en')"
                >English <span class="fi fi-gb px-3"></span
              ></a>
            </li>
          </ul>
        </div>
        <!--APP LANGUAGUES SELECTION ENDS-->

        <!--APP MENU toggler STARTS-->
        <button
          class="navbar-toggler order-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--APP MENU toggler ENDS-->

        <!--APP MENU STARTS-->
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-lg-end order-5"
          id="navbarSupportedContent">
          <nav
            aria-label="Primary navigation"
            role="navigation"
            class="d-flex align-items-center">
            <ul class="navbar-nav me-2 mb-2 mb-lg-0 d-flex">
             
              <!--boton modulo accesibilidad desktop START-->
              <li class="nav-item d-flex align-items-center">
                <button
                  class="btn btn-link p-0 mx-0 mx-md-3 mt-4 mt-md-1 d-none d-lg-inline-block"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasWithBothOptions"
                  aria-controls="offcanvasWithBothOptions"
                  aria-label="Opens accesibility options">
                  <span class="sr-only">{{
                    'home.accessibilityOptions' | translate
                  }}</span>
                  <div class="universal-access"></div>
                </button>
              </li>
              <!--boton modulo accesibilidad desktop ENDS-->
              
              <li class="nav-item mt-4 mt-md-0">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="/"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  data-bs-dismiss="collapse">
                  {{ 'menu.home' | translate }}</a
                >
              </li>







               <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-dismiss="collapse">
                  {{ 'menu.accessibility-first' | translate }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="tutorials"
                      data-bs-dismiss="collapse">
                      {{ 'submenu.tutorials' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="courses"
                      data-bs-dismiss="collapse"
                      >{{ 'submenu.courses' | translate }}</a
                    >
                  </li>
                </ul>
              </li>














              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-dismiss="collapse">
                  {{ 'menu.accessibility' | translate }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="accessibility"
                      data-bs-dismiss="collapse">
                      {{ 'submenu.accessibility' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="universal"
                      data-bs-dismiss="collapse"
                      >{{ 'submenu.universal' | translate }}</a
                    >
                  </li>
                  <!-- <li><hr class="dropdown-divider" /></li> -->
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="healthcare"
                      data-bs-dismiss="collapse"
                      >{{ 'submenu.healthcare' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="rights"
                      data-bs-dismiss="collapse"
                      >{{ 'submenu.rights' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="inclusivity"
                      data-bs-dismiss="collapse"
                      >{{ 'submenu.inclusivity' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="phisical"
                      data-bs-dismiss="collapse"
                      >{{ 'submenu.phisical' | translate }}</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"

                  routerLink="accessibility-today"
                  routerLinkActive="active"
                  data-bs-dismiss="collapse">
                  {{ 'menu.accessibility-today' | translate }}</a
                >
              </li>
            </ul>
          </nav>

          <!--APP LANGUAGUES SELECTION DESKTOP-->
          <div class="dropdown dropstart language-selector d-none d-lg-block ms-3">
            <button
              class="btn border border-secondary dropdown-toggle btn-sm me-4 mb-lg-0"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              [attr.aria-label]="'languages.languageSelection' | translate">
              <span *ngIf="'en' === translate.currentLang; else es">
                <span class="fi fi-gb px-3"></span>
              </span>
              <ng-template #es><span class="fi fi-es px-3"></span></ng-template>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between"
                  href="?lang=es"
                  (click)="$event.preventDefault(); changeLanguage('es')"
                  >Español <span class="fi fi-es px-3"></span
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between"
                  href="?lang=en"
                  (click)="$event.preventDefault(); changeLanguage('en')"
                  >English <span class="fi fi-gb px-3"></span
                ></a>
              </li>
            </ul>
          </div>
          <!--APP LANGUAGUES SELECTION DESKTOP ENDS-->
        </div>
        <!--APP MENU ENDS-->
      </div>
    </nav>
  </div>
</header>


