.accessibility-btn {
  position: relative;
  z-index: 1020;

  @media (max-width: 991px) {
    position: fixed;
    top: 10px;
    right: 120px;
  }
}

.navbar-nav {
  .nav-item {
    display: flex;
    align-items: center;

    .btn-link {
      line-height: 1;
    }
  }
}
