<header
  class="c-header shadow container-fluid position-fixed top-0 u__position m-0 p-0">
  <div class="container-fluid p-0 cb2">
    <div class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <!--LOGO STARTS-->
        <a routerLink="home" class="navbar-brand me-4" [attr.aria-label]="'header.logo' | translate">
          <img
            src="../../../assets/img/core/a11y-first-logo.svg"
            alt=""
            aria-hidden="true"
            width="92"
            height="40"
            class="d-inline-block align-text-top" />
        </a>
        <!--LOGO ENDS-->

        <!--boton modulo accesibilidad mobile-->
        <button
          class="btn btn-link accessibility-btn d-lg-none order-2 order-lg-2 me-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
          [attr.aria-label]="'home.accessibilityOptions' | translate">
          <span class="sr-only">{{
            'home.accessibilityOptions' | translate
          }}</span>
          <span class="universal-access" aria-hidden="true"></span>
        </button>

        <!--APP LANGUAGUES SELECTION STARTS-->
        <div class="dropdown dropstart language-selector order-3 order-lg-3 d-lg-none">
          <button
            class="btn border border-secondary dropdown-toggle btn-sm me-4 mb-lg-0"
            type="button"
            id="languageSelectorMobile"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            [attr.aria-label]="'languages.languageSelection' | translate">
            <!-- {{ 'languages.languageSelection' | translate }} -->
            <span *ngIf="'en' === translate.currentLang; else es">
              <span class="fi fi-gb px-3"></span>
            </span>
            <ng-template #es><span class="fi fi-es px-3"></span></ng-template>
          </button>
          <ul class="dropdown-menu" aria-labelledby="languageSelectorMobile">
            <li>
              <a
                class="dropdown-item d-flex justify-content-between"
                [class.active]="'es' === translate.currentLang"
                [attr.aria-current]="'es' === translate.currentLang ? 'true' : null"
                href="?lang=es"
                (click)="$event.preventDefault(); changeLanguage('es')">
                Español <span class="fi fi-es px-3"></span>
                <span *ngIf="'es' === translate.currentLang" class="sr-only">{{ 'languages.currentLanguage' | translate }}</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex justify-content-between"
                [class.active]="'en' === translate.currentLang"
                [attr.aria-current]="'en' === translate.currentLang ? 'true' : null"
                href="?lang=en"
                (click)="$event.preventDefault(); changeLanguage('en')">
                English <span class="fi fi-gb px-3"></span>
                <span *ngIf="'en' === translate.currentLang" class="sr-only">{{ 'languages.currentLanguage' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
        <!--APP LANGUAGUES SELECTION ENDS-->

        <!--APP MENU toggler STARTS-->
        <button
          class="navbar-toggler order-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--APP MENU toggler ENDS-->

        <!--APP MENU STARTS-->
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-lg-end order-5"
          id="navbarSupportedContent">
          <nav aria-label="Primary navigation">
            <ul class="navbar-nav me-2 mb-2 mb-lg-0 d-flex">
             
              <!--boton modulo accesibilidad desktop START-->
              <li class="nav-item d-flex align-items-center">
                <button
                  class="btn btn-link p-0 mx-0 mx-md-3 mt-4 mt-md-1 d-none d-lg-inline-block"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasWithBothOptions"
                  aria-controls="offcanvasWithBothOptions"
                  [attr.aria-label]="'home.accessibilityOptions' | translate">
                  <span class="sr-only">{{
                    'home.accessibilityOptions' | translate
                  }}</span>
                  <span class="universal-access" aria-hidden="true"></span>
                </button>
              </li>
              <!--boton modulo accesibilidad desktop ENDS-->
              
              <li class="nav-item mt-4 mt-md-0">
                <a
                  class="nav-link"
                  routerLink="/"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  #homeLink="routerLinkActive"
                  [attr.aria-current]="homeLink.isActive ? 'page' : null"
                  (click)="closeMenu()">
                  {{ 'menu.home' | translate }}</a
                >
              </li>

               <li class="nav-item dropdown">
                <button
                  class="nav-link dropdown-toggle"
                  type="button"
                  id="navbarDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  [attr.aria-label]="'menu.accessibility-first' | translate">
                  {{ 'menu.accessibility-first' | translate }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item disabled" 
                      aria-disabled="true"
                      routerLink="tutorials"
                      tabindex="-1"
                      (click)="closeMenu()">
                      {{ 'submenu.tutorials' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item disabled" 
                      aria-disabled="true"
                      routerLink="courses"
                      tabindex="-1"
                      (click)="closeMenu()"
                      >{{ 'submenu.courses' | translate }}</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <button
                  class="nav-link dropdown-toggle"
                  type="button"
                  id="navbarDropdownOne"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  [attr.aria-label]="'menu.accessibility' | translate">
                  {{ 'menu.accessibility' | translate }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownOne">
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="accessibility"
                      (click)="closeMenu()">
                      {{ 'submenu.accessibility' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="universal"
                      (click)="closeMenu()"
                      >{{ 'submenu.universal' | translate }}</a
                    >
                  </li>
                  <!-- <li><hr class="dropdown-divider" /></li> -->
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="healthcare"
                      (click)="closeMenu()"
                      >{{ 'submenu.healthcare' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="rights"
                      (click)="closeMenu()"
                      >{{ 'submenu.rights' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="inclusivity"
                      (click)="closeMenu()"
                      >{{ 'submenu.inclusivity' | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="phisical"
                      (click)="closeMenu()"
                      >{{ 'submenu.phisical' | translate }}</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="accessibility-today"
                  routerLinkActive="active"
                  (click)="closeMenu()">
                  {{ 'menu.accessibility-today' | translate }}</a
                >
              </li>
            </ul>
          </nav>

          <!--APP LANGUAGUES SELECTION DESKTOP-->
          <div class="dropdown dropstart language-selector d-none d-lg-block ms-3">
            <button
              class="btn border border-secondary dropdown-toggle btn-sm me-4 mb-lg-0"
              type="button"
              id="languageSelectorDesktop"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              [attr.aria-label]="'languages.languageSelection' | translate">
              <span *ngIf="'en' === translate.currentLang; else es">
                <span class="fi fi-gb px-3"></span>
              </span>
              <ng-template #es><span class="fi fi-es px-3"></span></ng-template>
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageSelectorDesktop">
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between"
                  [class.active]="'es' === translate.currentLang"
                  [attr.aria-current]="'es' === translate.currentLang ? 'true' : null"
                  href="?lang=es"
                  (click)="$event.preventDefault(); changeLanguage('es')">
                  Español <span class="fi fi-es px-3"></span>
                  <span *ngIf="'es' === translate.currentLang" class="sr-only">{{ 'languages.currentLanguage' | translate }}</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between"
                  [class.active]="'en' === translate.currentLang"
                  [attr.aria-current]="'en' === translate.currentLang ? 'true' : null"
                  href="?lang=en"
                  (click)="$event.preventDefault(); changeLanguage('en')">
                  English <span class="fi fi-gb px-3"></span>
                  <span *ngIf="'en' === translate.currentLang" class="sr-only">{{ 'languages.currentLanguage' | translate }}</span>
                </a>
              </li>
            </ul>
          </div>
          <!--APP LANGUAGUES SELECTION DESKTOP ENDS-->
        </div>
        <!--APP MENU ENDS-->
      </div>
    </div>
  </div>
</header>


