/*======================
    404 page
=======================*/

.page_404 {
  padding: rem-calc(40 0);
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: rem-calc(80);
}

.four_zero_four_bg h3 {
  font-size: rem-calc(80);
}

.link_404 {
  color: #fff !important;
  padding: rem-calc(10 20);
  background: #39ac31;
  margin: rem-calc(20 0);
  display: inline-block;
}
.contant_box_404 {
  margin-top: rem-calc(-50);
}
