.c-a11y-options {
  img {
    object-fit: cover;
    width: rem-calc(20);
    height: rem-calc(20);
    margin-left: rem-calc(10);
    background: transparent;

    &.plus {
      width: rem-calc(20);
      height: rem-calc(20);
    }
  }
  .profile {
    button {
      height: rem-calc(40);
      width: 100%;
      place-content: center;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      background: #19d27b;
      color: var(--bs-text-color);
      border: none;
      &:hover {
        background: var(--bs-button-text);
        color: var(--bs-link-color);
        border: rem-calc(1) dashed var(--bs-link-color);
      }
      &:focus-visible {
        background: var(--bs-button-text);
        color: var(--bs-link-color);
        border: rem-calc(1) dashed var(--bs-link-color);
      }
    }
  }
}
