footer {
  a {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: var(--green-700);
    color: var(--bs-button-text);
    &:hover {
      background: var(--bs-button-text);
      color: var(--green-700);
      border: 1px dashed var(--green-700);
    }
    &:focus-visible {
      background: var(--bs-button-text);
      color: var(--green-700);
      border: 1px dashed var(--green-700);
    }
  }
  .profile {
    height: 100%;
    width: 100%;
  }
  .rigths {
    height: 100%;
    width: 100%;
    background: #3953a4;
  }
}
