footer {
  // margin-bottom: rem-calc(-1);
  img {
    margin-left: rem-calc(10);
    width: rem-calc(20);
    height: auto;
  }
  button {
    place-content: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: #19d27b;
    color: var(--bs-text-color);
    border: none;
    &:hover {
      background: var(--bs-button-text);
      color: var(--bs-link-color);
      border: rem-calc(1) dashed var(--bs-link-color);
    }
    &:focus-visible {
      background: var(--bs-button-text);
      color: var(--bs-link-color);
      border: rem-calc(1) dashed var(--bs-link-color);
    }
  }
  .profile {
    height: 100%;
    width: 100%;
  }
  .rigths {
    height: 100%;
    width: 100%;
    background: #3953a4;
  }
}
