.c-header {
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  span p.logo-text{
    font-size: rem-calc(10) !important;
    margin-bottom: 0 !important;
  }

  .language-selector {
    @include respond-above(md) {
      order: 3;
      margin-left: 1rem;
    }

    @include respond-below(md) {
      position: fixed;
      right: rem-calc(60);
      top: rem-calc(44);
      transform: translateY(-50%);
    }
  }
  .accessibility-btn {
    position: relative;
    z-index: 1020;

    @include respond-below(md) {
      position: fixed;
      top: rem-calc(17);
      right: rem-calc(144);
    }
  }

  .navbar-toggler {
    padding: rem-calc(0 13);
    border: rem-calc(1) solid gray;
    border-radius: rem-calc(5);
  }

  .dropstart .dropdown-menu[data-bs-popper] {
    top: 110%;
    right: 100%;
    left: -124%;
    z-index: 1200;
  }
}
