<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions">
  <div class="offcanvas-header">
    <p class="offcanvas-title lead fw-bold" id="offcanvasWithBothOptionsLabel">
      {{ 'a11y.title' | translate }}
    </p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!--Font size STARS-->
    <div class="card cb2">
      <div class="card-body">
        <p class="card-title fs-6 fw-bold" [tabindex]="0">
          {{ 'a11y.fontSizeTitle' | translate }}
        </p>
        <p class="card-text fs-6" [tabindex]="0">
          {{ 'a11y.fontSizeDescription' | translate }}
        </p>
        <button class="btn btn-primary py-0 me-1" (click)="increaseFontSize()">
          {{ 'a11y.fontSizeMore' | translate }}
        </button>
        <button class="btn btn-primary py-0 me-1" (click)="decreaseFontSize()">
          {{ 'a11y.fontSizeLess' | translate }}
        </button>
        <button
          *ngIf="fontSize !== 100"
          class="btn btn-dark py-0 me-1"
          (click)="resetFontSize()">
          {{ 'a11y.fontSizeReset' | translate }}
        </button>
      </div>
      <span
        class="badge text-bg-light d-flex justify-content-start px-3"
        [tabIndex]="0"
        >{{ 'a11y.fontSize' | translate }}{{ fontSize }}%</span
      >
    </div>
    <!--Font size ENDS-->

    <!--toggle Link Highlight STARTS-->
    <div class="card mt-3 cb2">
      <div class="card-body">
        <p class="card-title fs-6 fw-bold">
          {{ 'a11y.toggleLinkHighlightTitle' | translate }}
        </p>
        <p class="card-text fs-6">
          {{ 'a11y.toggleLinkHighlightDescription' | translate }}
        </p>

        <button
          class="btn btn-primary py-0 me-1"
          (click)="toggleLinkHighlight()">
          {{ buttonText | translate }}
        </button>
      </div>
    </div>
    <!--toggle Link Highlight ENDS-->

    <!--Font size STARTS-->

    <!-- <p>
      {{ fontSize }}%
      <span class="sr-only"
        >({{ fontSizeService.getMinFontSize() }}% -
        {{ fontSizeService.getMaxFontSize() }}%)</span
      >
    </p>
    <button (click)="decreaseFontSize()">MENOS -</button>
    <button (click)="increaseFontSize()">MAS +</button>
    <button (click)="resetFontSize()">Reset</button> -->
    <!--Font size ENDS-->

    <div class="container">
      <div class="text-center">
        <!--theme color starts-->
        <!-- <p>Welcome to the Angular theme switcher with Bootstrap!</p>
        <button class="btn btn-primary" (click)="switchTheme('light')">
          Light Mode
        </button>
        <button class="btn btn-dark" (click)="switchTheme('dark')">
          Dark Mode
        </button>
        <button class="btn btn-warning" (click)="switchTheme('creamy')">
          Creamy Mode
        </button>
        <button class="btn btn-danger" (click)="switchTheme('blind-color')">
          Blind-Color Mode
        </button>
        <br /><br />
        <button class="btn btn-info" (click)="toggleTheme()">
          Toggle Theme
        </button> -->
        <!--theme color ends-->
      </div>
    </div>
  </div>
</div>
