<div
  class="c-a11y-options offcanvas offcanvas-start"
  data-bs-scroll="true"

  [attr.aria-labelledby]="'a11y.title' | translate"
  id="offcanvasWithBothOptions">
  <!--offcanvas-header START-->
  <div class="offcanvas-header">
    <p class="offcanvas-title lead fw-bold" id="offcanvasTitle">
      {{ 'a11y.title' | translate }}
    </p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <!--offcanvas-header ENDS-->

  <!--offcanvas-body START-->
  <div class="offcanvas-body">
    <!--Font size STARS-->
    <div class="card cb2">
      <div class="card-body">
        <p class="card-title fs-6 fw-bold" [tabindex]="0">
          {{ 'a11y.fontSizeTitle' | translate }}
        </p>
        <p class="card-text fs-6" [tabindex]="0">
          {{ 'a11y.fontSizeDescription' | translate }}
        </p>
        <button class="btn btn-success py-0 me-1" (click)="increaseFontSize()">
          {{ 'a11y.fontSizeMore' | translate }}
        </button>
        <button class="btn btn-danger py-0 me-1" (click)="decreaseFontSize()">
          {{ 'a11y.fontSizeLess' | translate }}
        </button>
        <div>
          <button
            *ngIf="fontSize !== 100"
            class="btn btn-dark py-0 me-1 mt-2"
            (click)="resetFontSize()">
            {{ 'a11y.fontSizeReset' | translate }}
          </button>
        </div>
      </div>
      <span
        class="badge text-bg-light d-flex justify-content-start px-3"
        [tabIndex]="0"
        >{{ 'a11y.fontSize' | translate }}{{ fontSize }}%</span
      >
    </div>
    <!--Font size ENDS-->

    <!--toggle Link Highlight STARTS-->
    <div class="card mt-3 cb2">
      <div class="card-body">
        <p class="card-title fs-6 fw-bold" [tabindex]="0">
          {{ 'a11y.toggleLinkHighlightTitle' | translate }}
        </p>
        <p class="card-text fs-6" [tabindex]="0">
          {{ 'a11y.toggleLinkHighlightDescription' | translate }}
        </p>

        <button
          class="btn btn-warning py-0 me-1"
          (click)="toggleLinkHighlight()">
          {{ buttonText | translate }}
        </button>
      </div>
    </div>
    <!--toggle Link Highlight ENDS-->

    <!--toggle ABOUT ME STARTS-->
    <div class="profile">
      <button
        class="btn-link position-absolute start-0 bottom-0 fw-bold d-flex link-offset-2 link-underline-opacity-10 link-underline-opacity-100-hover p-1 align-items-center"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom"
      >
        {{ 'a11y.about' | translate }}
        <img
          src="../../../assets/img/icons/smiley-icon.svg"
          [alt]="'about-me.img' | translate"
          class="" />
      </button>
    </div>
    <!--toggle ABOUT ME ENDS-->

    <!-- <div class="container">
      <div class="text-center">

        <p>Welcome to the Angular theme switcher with Bootstrap!</p>
        <button class="btn btn-primary" (click)="switchTheme('light')">
          Light Mode
        </button>
        <button class="btn btn-dark" (click)="switchTheme('dark')">
          Dark Mode
        </button>
        <button class="btn btn-warning" (click)="switchTheme('creamy')">
          Creamy Mode
        </button>
        <button class="btn btn-danger" (click)="switchTheme('blind-color')">
          Blind-Color Mode
        </button>
        <br /><br />
        <button class="btn btn-info" (click)="toggleTheme()">
          Toggle Theme
        </button>

      </div>
    </div> -->
  </div>
  <!--offcanvas-body ENDS-->
</div>
