<app-content-display
  title="{{ 'home.accessibilityTitle' | translate }}"
  info="{{ 'home.accessibilityInfo' | translate }}"
  extra="{{ 'home.accessibilityExtra' | translate }}"
  more="{{ 'home.accessibilityExtraB' | translate }}"
  [staticLink]="'home.a11y-accessibility' | translate"
  [links]="[
    { text: ('home.a11y-universal' | translate), route: '/universal' },
    { text: ('home.a11y-healcare' | translate), route: '/healthcare' },
    { text: ('home.a11y-rights' | translate), route: '/rights' },
    { text: ('home.a11y-inclusivity' | translate), route: '/inclusivity' },
    { text: ('home.a11y-phisical' | translate), route: '/phisical' }
  ]"
  ariaLabel="Section containing my content"
  backgroundClass="bg-pattern-1">
</app-content-display>
