.c-accessibility-today {
  img {
    width: 100%;
    height: 42vw;
    object-fit: cover;
  }

  @include respond-between(sm, lg) {
    img {
      width: 100%;
      object-fit: cover;
    }
    &.post0 {
      img {
        height: 100%;
      }
    }
    &.postN {
      img {
        height: auto;
      }
    }
  }

  @include respond-above(lg) {
    img {
      width: 100%;
      height: 23vw;
      object-fit: cover;
    }
  }

  p {
    &.intro {
      font-size: 5vw;
    }
  }

  @include respond-above(sm) {
    p {
      &.intro {
        font-size: rem-calc(30px) !important;
      }
    }
  }

  @include respond-above(mdl) {
    p {
      &.intro {
        font-size: rem-calc(20) !important;
      }
    }
  }

  .svg {
    width: 45%;
    height: 46vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: filter 0.5s ease-out;

    &-a11y-today {
      background-image: url('../../../assets/img/icons/accessibility-future.svg');
    }

    &-mobile {
      display: none;
    }

    &-desktop {
      display: inline-block;
    }
  }

  @include respond-between(sm, lg) {
    .svg {
      // width: 21%;
      // height: 18vw;
      &-mobile {
        display: inline-block;
      }
      &-desktop {
        display: none;
      }
    }
  }

  @include respond-above(sm) {
    .svg {
      // width: 70%;
      // height: 12vw;
      width: 21%;
      height: 17vw;
    }
  }

  @include respond-above(md) {
    .svg {
      width: 85%;
      height: 16vw;
    }
  }
  @include respond-above(xl) {
    .svg {
      width: 83%;
      height: 13vw;
    }
  }

  .col-6 {
    // border: solid 2px;
  }
}
