.c-accessibility-today {
  a {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      text-decoration: underline;
      color: var(--bs-text-color);
    }
  }
  img {
    width: 100%;
    height: 42vw;
    object-fit: cover;
  }

  @include respond-between(sm, lg) {
    img {
      width: 100%;
      object-fit: cover;

      &.n-img {
        height: 25vw;
      }
    }
    &.post0 {
      img {
        height: 100%;
      }
    }
  }

  @include respond-above(lg) {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.n-img {
        height: 11vw;
      }
    }
  }
  p {
    &.intro {
      font-size: 1rem;
    }
  }

  @include respond-above(lg) {
    p {
      &.intro {
        font-size: 1.2rem;
      }
    }
  }

  .svg {
    width: 56%;
    height: 46vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: filter 0.5s ease-out;

    &-a11y-today {
      background-image: url('../../../assets/img/icons/accessibility-future.svg');
    }

    &-mobile {
      display: none;
    }

    &-desktop {
      display: inline-block;
    }
  }

  @include respond-between(sm, lg) {
    .svg {
      // width: 21%;
      // height: 18vw;
      &-mobile {
        display: inline-block;
      }
      &-desktop {
        display: none;
      }
    }
  }

  @include respond-above(sm) {
    .svg {
      // width: 70%;
      // height: 12vw;
      width: 21%;
      height: 17vw;
    }
  }

  @include respond-above(md) {
    .svg {
      width: 82%;
      height: 16vw;
    }
  }

  @include respond-between(md, lg) {
    .svg {
      width: 17%;
      height: 16vw;
    }
  }

  @include respond-above(xl) {
    .svg {
      width: 55%;
      height: 8vw;
    }
  }
}
