.c-home {
  a {
    text-decoration: none;
    color: var(--bs-text-color);
    &:hover {
      color: var(--bs-button-text);
    }
    &.disable {
      pointer-events: none;
      opacity: 0.6;
      cursor: not-allowed;
      .svg {
        filter: grayscale(100%);
      }

      .btn-primary {
        filter: grayscale(100%);
      }
    }
  }

  // SVG IMAGE
  .svg {
    display: inline-block;
    width: 40%;
    height: 13vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(0%);
    transition: filter 0.5s ease-out;

    &-a11y-today {
      background-image: url('../../../assets/img/icons/accessibility-future.svg');
    }

    &-tutorials {
      background-image: url('../../../assets/img/icons/tutorials.svg');
    }
    &-courses {
      background-image: url('../../../assets/img/icons/courses.svg');
    }
  }

  @include respond-above(zx) {
    .svg {
      width: 60%;
      height: 23vw;
    }
  }

  @include respond-above(md) {
    .svg {
      width: 51%;
      height: 15vw;
    }
  }
  @include respond-above(lg) {
    .svg {
      width: 40%;
      height: 13vw;
    }
  }

  //CARD
  .card {
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    &:hover {
      .svg {
        filter: grayscale(0%);
      }
      color: var(--bs-button-text);
      background: var(--bs-button-bg);

      .btn-primary {
        background-color: var(--bg-creme-color);
        border-color: var(--border-creme-color);
        color: var(--text-creme-color);
      }
    }
  }

  //CARD BODY
  .card-body {
    align-content: center;
    height: 100%;
    margin-top: 14px;
  }
  @include respond-above(xl) {
    .card-body {
      height: 53.4vh;
      margin-top: 0;
    }
  }
}
