.c-home {
  margin-top: rem-calc(48);
  &__background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    place-content: center;
  }

  p {
    &.intro {
      font-size: 1rem;
    }
  }

  @include respond-above(lg) {
    p {
      &.intro {
        font-size: 1.5rem;
      }
    }
  }
}
