<div class="mt-xl-5">
  <app-content-display
    title="{{
      'phisical-accessibility.phisical-accessibilityTitle' | translate
    }}"
    info="{{ 'phisical-accessibility.phisical-accessibilityInfo' | translate }}"
    extra="{{
      'phisical-accessibility.phisical-accessibilityExtra' | translate
    }}"
    more="{{
      'phisical-accessibility.phisical-accessibilityExtraB' | translate
    }}"
    [links]="[
      { text: ('app-content-links.accessibility' | translate), route: '/' },
      {
        text: ('app-content-links.universal' | translate),
        route: '/universal'
      },
      {
        text: ('app-content-links.healcare' | translate),
        route: '/healthcare'
      },
      { text: ('app-content-links.rights' | translate), route: '/rights' },
      {
        text: ('app-content-links.inclusivity' | translate),
        route: '/inclusivity'
      },
      { text: ('app-content-links.phisical' | translate), route: '/phisical' }
    ]"
    ariaLabel="Section containing my content"
    backgroundClass="bg-phisical-accessibility">
  </app-content-display>
</div>
