<div class="px-3 py-3">
  <!-- Large screen layout -->
  <nav class="desktop-menu" aria-label="Content navigation" *ngIf="screenWidth > 1024">
    <ul class="list-unstyled d-flex flex-wrap mb-0">
      <li *ngFor="let item of menuItems; let i = index">
        <a
          #firstDesktopLink
          class="badge fw-normal rounded-pill me-2 mb-2 text-decoration-none"
          [class.text-bg-primary]="router.isActive(item.route, true)"
          [class.text-bg-secondary]="!router.isActive(item.route, true)"
          [attr.aria-current]="router.isActive(item.route, true) ? 'page' : null"
          [routerLink]="item.route"
          [routerLinkActive]="'highlight'">
          {{ item.label | translate }}
        </a>
      </li>
    </ul>
  </nav>

  <!-- Small screen slider -->
  <nav class="mobile-menu px-3 py-2" aria-label="Content navigation" *ngIf="screenWidth <= 1025">
    <button
      class="scroll-btn left"
      type="button"
      (click)="scroll('left')"
      *ngIf="canScrollLeft"
      [attr.aria-label]="'app-content-links.left' | translate">
      <span class="sr-only">{{ 'app-content-links.left' | translate }}</span>
    </button>
    <div class="slider-container" role="list">
      <div
        class="slider"
        #slider
        (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd()">
        <span
          *ngFor="let item of menuItems; let i = index"
          role="listitem"
          class="badge fw-normal rounded-pill mx-2"
          [class.text-bg-primary]="router.isActive(item.route, true)"
          [class.text-bg-secondary]="!router.isActive(item.route, true)">
          <a
            #firstMobileLink
            class="nav-link fs-6"
            [attr.aria-current]="router.isActive(item.route, true) ? 'page' : null"
            [routerLink]="item.route"
            [routerLinkActive]="'active'">
            {{ item.label | translate }}
          </a>
        </span>
      </div>
    </div>
    <button
      class="scroll-btn right"
      type="button"
      (click)="scroll('right')"
      *ngIf="canScrollRight"
      [attr.aria-label]="'app-content-links.right' | translate">
      <span class="sr-only">{{ 'app-content-links.right' | translate }}</span>
    </button>
  </nav>
</div>
