<section class="mt-5 bp" *ngIf="blogPost$ | async as blogPosts">
  <div class="card mb-3 border-0">
    <span class="container-fluid p-0 feature text-center bg-primary">
      <img
        [src]="blogPosts.fields.featureImage.fields.file.url"
        [alt]="'Photo of ' + blogPosts.fields.featureImage.fields.title"
        class="" />
    </span>
    <!-- *ngIf="blogPosts.fields.authorImage?.fields?.file?.url" -->
    <span class="text-center author">
      <img
        [src]="blogPosts.fields.img.fields.file.url"
        [alt]="blogPosts.fields.imageAlt || ''"
        class="position-relative rounded-circle bg-primary" />
      <p class="position-relative">
        <span>
          {{ 'accessibility-today.blogPost.whittenBy' | translate }}
        </span>
        <span class="fw-bold">
          {{ blogPosts.fields.author }}
        </span>
      </p>
    </span>

    <div class="card-body container p-3 p-lg-3 pt-0 mb-1 mb-md-3">
      <!-- Add breadcrumbs STARTS-->
      <div class="container small pb-2">
        <nav aria-label="breadcrumb" class="">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']" aria-label="Back to Home">
                {{ 'menu.home' | translate }}
              </a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/accessibility-today']">
                {{ 'accessibility-today.title' | translate }}
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span>{{ blogPosts.fields.title }}</span>
            </li>
          </ol>
        </nav>
      </div>
      <!-- Add breadcrumbs ENDS-->

      <hr class="mb-2" />
      <header class="text-center text-lg-start">
        <h1 class="fw-bold display-4 pe-0 ps-md-3" [tabIndex]="0" id="blog-post-title">
          {{ blogPosts.fields.title }}
        </h1>
      </header>
      <hr class="m-0" />
      <main aria-labelledby="blog-post-title">
        <div
          class="container mt-4 mt-lg-5"
          [innerHTML]="richTextToHtml(blogPosts.fields.content)"></div>
      </main>

      <hr />
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <a type="button" (click)="goBack()" class="btn btn-primary btn-sm">
            {{ 'accessibility-today.blogPost.back' | translate }}
          </a>
        </div>
        <div>
          <div
            class="social-share-buttons d-flex justify-content-between align-items-center">
            <h3 class="lead pt-2 me-2">
              {{ 'accessibility-today.blogPost.share' | translate }}
            </h3>
            <div class="d-flex gap-2">
              <a
                type="button"
                class="btn btn-primary"
                (click)="share('facebook')">
                <img
                  src="../../../../assets/img/icons/facebook.svg"
                  alt="Facebook" />
              </a>
              <a
                type="button"
                class="btn btn-primary"
                (click)="share('linkedin')">
                <img
                  src="../../../../assets/img/icons/linkedin-solid.svg"
                  alt="LinkedIn" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <!-- <pre>{{ blogPost$ | async | json }}</pre> -->
</section>
