<main class="mt-5 bp" *ngIf="blogPost$ | async as blogPosts">
  <div class="card mb-3 border-0">
    <span class="container-fluid p-0 feature text-center bg-primary">
      <img
        [src]="blogPosts.fields.featureImage.fields.file.url"
        [alt]="'Photo of ' + blogPosts.fields.featureImage.fields.title"
        class="" />
    </span>
    <!-- *ngIf="blogPosts.fields.authorImage?.fields?.file?.url" -->
    <span class="text-center author">
      <img
        [src]="blogPosts.fields.img.fields.file.url"
        [alt]="blogPosts.fields.imageAlt || ''"
        class="position-relative rounded-circle bg-primary" />
      <p class="position-relative">
        <span>
          {{ 'accessibility-today.blogPost.whittenBy' | translate }}
        </span>
        <span class="fw-bold">
          {{ blogPosts.fields.author }}
        </span>
      </p>
    </span>
    <div class="card-body container p-3 p-lg-5 pt-0">
      <span class="text-center text-lg-start">
        <h2 class="fw-bold display-4">{{ blogPosts.fields.title }}</h2>
      </span>

      <div
        class="container mt-4 mt-lg-5"
        [innerHTML]="richTextToHtml(blogPosts.fields.content)"></div>

      <hr />
      <button (click)="goBack()" class="btn btn-primary mb-3">
        {{ 'accessibility-today.blogPost.back' | translate }}
      </button>
      <hr />
      <div class="social-share-buttons mt-4">
        <h3>Share this article</h3>
        <div class="d-flex gap-2">
          <button
            class="btn btn-primary"
            (click)="share('facebook')"
            aria-label="Share on Facebook">
            <i class="fab fa-facebook"></i>
            <img
              src="../../../../assets/img/icons/facebook.svg"
              alt="Facebook" />
          </button>

          <!-- <button
            class="btn btn-info"
            (click)="share('twitter')"
            aria-label="Share on Twitter">
            <i class="fab fa-twitter"></i>
          </button> -->

          <button
            class="btn btn-primary"
            (click)="share('linkedin')"
            aria-label="Share on LinkedIn">
            <img
              src="../../../../assets/img/icons/linkedin.svg"
              alt="LinkedIn" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <pre>{{ blogPost$ | async | json }}</pre> -->
</main>
